.App {
  text-align: center;
}

header {
  font-size: 20px;
  padding: 0px;
}

h2 {
  padding-bottom:5px;
}

table , td {
  border-collapse: collapse;
  border: 1px solid;
  width: 30%;
  padding-bottom: 30%;
}

td{
  font-size:30px;
  text-align: center;
  padding: 70px;
  cursor:pointer;
}

button {
  display:inline-block;
  margin: 30px;
  padding: 5px 20px;
  background-color:black;
  color: white;
  border-radius:8px;
}
